# Audio
CONFIG_ALSA_TO_H2W=y

# Bootinfo
CONFIG_BOOTINFO=y

# DT
CONFIG_MMI_DEVICE_DTBS=y
CONFIG_PROC_DEVICETREE=y

# Keychord
CONFIG_INPUT_KEYCHORD=y

# LEDS
CONFIG_LEDS_ATC=y

# Motorola device info
CONFIG_MMI_SOC_INFO=y
CONFIG_MMI_RAM_INFO=y
CONFIG_MMI_UNIT_INFO=y

# MMC Firmware update
CONFIG_MMC_FFU=y

# Pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y

# QPNP reset via power key combo
CONFIG_QPNP_USER_RESET=y

# Security
CONFIG_SEC_DRIVER=y

# Sensors
CONFIG_STMVL53L0=y
CONFIG_EPL8802=y
CONFIG_SENSORS_FPC_1020=y
CONFIG_MMI_SYS_TEMP=y

# Touch
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_MMI=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_MMI=y

# UTAG
CONFIG_MOT_UTAG=y
