# Audio
CONFIG_ALSA_TO_H2W=y

# Bootinfo
CONFIG_BOOTINFO=y

# Coresight
# CONFIG_CORESIGHT is not set

# DT
CONFIG_MMI_DEVICE_DTBS=y
CONFIG_PROC_DEVICETREE=y

# Keychord
CONFIG_INPUT_KEYCHORD=y

# LEDS
CONFIG_LEDS_ATC=y

# Motorola device info
CONFIG_MMI_SOC_INFO=y
CONFIG_MMI_RAM_INFO=y
CONFIG_MMI_UNIT_INFO=y

# MMC Firmware update
CONFIG_MMC_FFU=y

# Pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y

# QPNP reset via power key combo
CONFIG_QPNP_USER_RESET=y

# Ramdisk
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_GZIP is not set
# CONFIG_RD_LZO is not set
CONFIG_RD_XZ=y

# Security
CONFIG_SEC_DRIVER=y

# Sensors
CONFIG_STMVL53L0=y
CONFIG_EPL8802=y
CONFIG_SENSORS_FPC_1020=y
CONFIG_MMI_SYS_TEMP=y
CONFIG_SENSORS_STML0XX=y

# Touch
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_MMI=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_MMI=y

# USB
# CONFIG_USB_GADGET_DEBUG_FILES is not set
# CONFIG_USB_GADGET_DEBUG_FS is not set

# UTAG
CONFIG_MOT_UTAG=y

# Unused drivers
# CONFIG_USB_EXT_TYPE_C_PERICOM is not set
# CONFIG_USB_EXT_TYPE_C_TI is not set
# CONFIG_SENSORS_MMC3416X is not set
# CONFIG_SENSORS_AKM09911 is not set
# CONFIG_SENSORS_AKM8963 is not set
# CONFIG_SENSORS_CAPELLA_CM36283 is not set
# CONFIG_SENSORS_BMA2X2 is not set
# CONFIG_SENSORS_MC3430 is not set
# CONFIG_SENSORS_ISL29044A is not set
# CONFIG_SENSORS_MPU6050 is not set
# CONFIG_SENSORS_LIS3DH is not set
# CONFIG_INPUT_GPIO is not set
# CONFIG_MSM_RDBG is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_MMC_TEST is not set
# CONFIG_MMC_BLOCK_TEST is not set
# CONFIG_MOBICORE_SUPPORT is not set
# CONFIG_MOBICORE_API is not set
# CONFIG_INPUT_EVBUG is not set
